black[jupyter]
earthengine-api
gdal==3.5.2
geopandas
rtree
pygeos
fiona
geowrangler==0.1.1
jupyterlab
loguru
numpy
pandas==1.5.3
matplotlib
pre-commit
pytest
rasterstats
cdsapi
netCDF4
cartopy
earthaccess
rasterio
eccodes==1.3.1
cfgrib
xarray[complete]==2023.10.1
rioxarray
xesmf
netcdf4
scikit-learn
dl4ds
tensorflow
climetlab
